<!-- Navigation Section -->
<mat-toolbar color="black">
  <span class="spacer"></span>
  <span mat-button routerLink="/" class="pointer-text">Storefront</span>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/cart" class="cart-button">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>  
  <router-outlet></router-outlet>

<!-- Footer Section -->
<mat-toolbar color="black" class="footer">
  <span>© 2024 Storefront</span>
  <span class="spacer"></span>
  <span>All rights reserved</span>
</mat-toolbar>
